<mat-toolbar
        [ngStyle]="{'background-color':'#3f51b5', 'color':'#ffffff'}"
>
    <h3 [ngClass]="{'name': addname}">{{config.header.title}}</h3>

    <button mat-button color="accent" (click)="addColor()">{{config.header.btn_1}}</button>
    <button mat-button color="accent" (click)="removeColor()">{{config.header.btn_2}}</button>
    <button mat-button color="accent" (click)="eventClickBtn(3)">{{config.header.btn_3}}</button>
    <button mat-button color="accent" (click)="eventClickBtn(4)">{{config.header.btn_4}}</button>
    <button mat-button color="accent" (click)="eventClickBtn(5)">{{config.header.btn_5}}</button>
    <button mat-button color="accent" (click)="colorAdd()">{{config.header.btn_6}}</button>
    <button mat-button color="accent" (click)="colorRemove()">{{config.header.btn_7}}</button>

</mat-toolbar>
