
<app-header [config]="configApp"></app-header>
<p [appStyle]="'red'" [dStyles]="{border: '1px solid blue', borderRadius: '5px'}">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, rem!
</p>

<p [appStyle]="'blue'" [dStyles]="{border: '1px solid red', borderRadius: '15px'}">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, rem!
</p>

<button class="btn" (click)="isVisible = !isVisible">Toggle</button>

<div  *ngIf="isVisible" class="wrap">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Consectetur consequatur distinctio explicabo ipsam laboriosam
        nulla praesentium quam sequi tenetur ullam?
    </p>
</div>

<app-sidebar [config]="configApp"></app-sidebar>



