<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened class="sidenav">
        <button mat-button color="primary" (click)="eventFirstContent(1)">Content 1</button>
        <button mat-button color="primary" (click)="eventFirstContent(2)">Content 2</button>
        <button mat-button color="primary" (click)="eventFirstContent(3)">Content 3</button>
        <button mat-button color="primary" (click)="eventFirstContent(4)">Content 4</button>


        <button mat-button color="primary" (click)="eventNewContent('hello')">Hi</button>
        <button mat-button color="primary" (click)="eventNewContent('world')">World</button>
        <button mat-button color="primary" (click)="eventNewContent('game')">Game</button>
        <button mat-button color="primary" (click)="eventNewContent('lorem')">Lorem</button>
    </mat-sidenav>

    <app-content></app-content>

</mat-sidenav-container>


